*, 
*::before, 
*::after {
    box-sizing: border-box;
}

$gridcols: 12;
$gutter: 15;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

@mixin media_query_content($breakpoint) {
	@media (min-width: 768px) {
		@content;
	}
}

@mixin create_cols($gridcols, $shortcode) {
	@for $i from 1 through $gridcols {
		&.--#{$shortcode}-#{$i} {
			flex-grow: 0;
	        flex-basis: (100 / ($gridcols / $i)) * 1%;
	        max-width: (100 / ($gridcols / $i)) * 1%;
	    }
	    &.--#{$shortcode}-offset-#{$i} {
	    	margin-left: (100 / ($gridcols / $i)) * 1%;
	    }
	}
}

@mixin display_utilities($shortcode) {
	.--#{$shortcode}-hide {
    	display: none;
    }

    .--#{$shortcode}-show {
    	display: block;
    }
}

.grid {
	$this: &;
	&__container {
	  	margin-right: auto;
	  	margin-left: auto;
	  	flex: 1;
		overflow: auto;
	    padding: $gutter * 1px;
	}

	&__row {
		display: flex;
	    flex-wrap: wrap;
	    align-items: strech;
	    margin-left: -($gutter/2) * 1px;
	    margin-right: -($gutter/2) * 1px;

		&.--start {
			justify-content: flex-start;
		}

		&.--center {
			justify-content: center;
		}

		&.--end {
			justify-content: flex-end;
		}

		&.--top {
			align-items: flex-start;
		}

		&.--middle {
			align-items: center;
		}

		&.--bottom {
			align-items: flex-end;
		}

		&.--around {
			justify-content: space-around;
		}

		&.--between {
			justify-content: space-between;
		}

		#{$this}__row {
			margin: 0;
		}
	}

	&__col {
		content-sizing: border-content;
		display: flex;
		flex-grow: 1;
		flex-shrink: 0;
	    padding: ($gutter/2) * 1px;

		#{$this}__row {
			padding: ($gutter/2) * 1px;

			& + #{$this}__row {
				padding-top: 0;
				margin-top: -7.5px;
			}
		}
	}


	@each $shortcode, $breakpoint in $breakpoints {
		@if $shortcode != 'xs' {
			@media (min-width: $breakpoint) {
				&__container  {
					@include display_utilities($shortcode)
				}

				&__col {
					@if $shortcode == xl {
						@at-root .grid__container:not(.--fluid) {
							width: 1200px;
						}
					}
					@include create_cols($gridcols, $shortcode)
				}
			}

		} @else {
			&__container  {
				@include display_utilities($shortcode)
			}

			&__col {
				@include create_cols($gridcols, $shortcode)
			}
		}
	}
}

.content {
	display: flex;
	flex-direction: row;
}

.--top {
	align-items: flex-start;
}

.--middle {
	align-items: center;
}

.--bottom {
	align-items: flex-end;
}

